* { box-sizing: border-box; }

body {
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d1/Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg);
	background-size: cover;
}

.options {
	display: grid;
	grid-gap: 10px;
	grid-template-rows: auto;
	grid-template-columns: 400px;
	position: fixed;
    top: 2%;
    left: 50%;
    margin-left: -200px;
    overflow: scroll;
}

#header {
    border: 1px solid black;
	background-color: darkorange;
}

.options > div {
  border: 1px solid black;
  background-color: lightsteelblue;
  padding: 1em;
  font-weight: bold;
  font-size: 17px;
  padding-left: 60px;
}

input[type="text"], input[type="number"], input[type="submit"] {
    width: 250px;
    padding: 10px;
    background-color: lightgray;
}