/** { box-sizing: border-box; }*/

body {
    background-color: azure;
}

.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 70%;
    grid-template-rows: minmax(50px, auto);
    grid-template-areas: 
      "header   header  header"
      "section  section sidebar"
      "section  section sidebar"
      "section  section sidebar"
      "footer   footer  footer";
}

header {
    grid-area: header;
    background-color: lightgray;
}

section {
    grid-area: section;
    background-color: lightgray;
}

aside {
    grid-area: sidebar;
    background-color: lightgray;
}

footer {
    grid-area: footer;
    background-color: lightgray;
}

.assigned {
    background-color: azure;
}

.acap {
    background-color: inherit;
    border-style: solid;
    padding: 10px;
}