* { box-sizing: border-box; }

#currentuser {
    display: grid;
    /*visibility: hidden*/
    grid-template-areas:
        "section section section aside";
    background-color: lightskyblue;
}

aside {
    grid-area: aside;
    margin-left: 15px;
}

section {
    grid-area: section;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 3px;
}

.header {
    background-color: orange;
    border-collapse: 2px;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    height: 40px;
    color: white;
}

.alldivs {
    background-color: transparent;
    border-collapse: 2px;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    height: auto;
}

select, table {
    border: 1px solid black;
    width: auto;
}

button {
    border-collapse: 4px;
    background-color: black;
    color: white;
}